
lib/oscore-2.2.7.jar

lib/log4j-1.2.15.jar

lib/guava-8.1.jar

lib/commons-logging-1.0.4.jar

lib/commons-lang-2.5.jar

lib/commons-configuration-1.4.jar

lib/atlassian*.jar

.idea/**/*

build/**/*
out/**/*

.idea/vcs.xml

.idea/uiDesigner.xml

.idea/modules.xml

.idea/encodings.xml

.idea/compiler.xml

.idea/misc.xml

.idea/ant.xml

.idea/.name

src/test/Test.iml

src/main/Main.iml

lib/xwork-1.2.5-atlassian-2.jar
